/* Prototurk.com adina anibor tarafindan kodlanmistir.*/ 
/*@import "reset.css";*/
body{font-family:Verdana;}
ul,ol{margin: 0; padding: 0; list-style: none;}
a{text-decoration:none;}
:focus{outline:none;}

#left{width:10%;height:100%;float:left;position: fixed;background-color:#f7f7f7;border-right:1px solid #ebebeb;}
#right{float:left;margin-left: 10%;padding-bottom: 50px;width: 89%}
#logo{background:url("../images/theme_logo.png") no-repeat 55px;background-color:#f7f7f7;min-height:145px;border-bottom:1px solid #ebebeb;}


#tools a{font-size:15px;color:#666666;text-decoration:none;text-shadow:1px 1px #ffffff;}
#tools li{padding:12px 15px 12px 15px;border-top:1px solid #fff;border-bottom:1px solid #ebebeb;background-color:#f7f7f7;}
#tools li:hover{background-color:#fbfbfb;}
#tools .select{padding-left:10px;border-left:3px solid #ea533f;background-color:#fff;border-right:none;background-image:none;color:#333333;}
#tools .select:hover {background-color:#fff;}
#yazilar{background:url("../images/yazilar.png") no-repeat 165px;}
#medya{background:url("../images/medya.png") no-repeat 165px;}
#sayfalar{background:url("../images/sayfalar.png") no-repeat 165px;}
#baglantilar{background:url("../images/baglantilar.png") no-repeat 165px;}
#yorumlar{background:url("../images/yorumlar.png") no-repeat 165px;}
#bilesenler{background:url("../images/widgets.png") no-repeat 165px;}
#eklentiler{background:url("../images/eklentiler.png") no-repeat 165px;}
#kullanicilar{background:url("../images/kullanicilar.png") no-repeat 165px;}
#araclar{background:url("../images/araclar.png") no-repeat 165px;}
#ayarlar{background:url("../images/ayarlar.png") no-repeat 165px;}
.number{background:url("../images/button_bg.png") repeat-x;padding:0px 4px 0px 4px;font-size:13px;color:#fff;text-shadow:1px 1px #d23e2a;border-radius:2px;border:1px solid #db301a;margin-left:5px;}

#header{height:52px;border-bottom:1px solid #ebebeb;position: fixed;
width: 90%;
z-index: 10;
background: #fff;}
#other{float:right;}

#arti,#bulut,#yorum,#zil,#wordpress{position:relative;float:left;height:52px;width:52px;}
#bulut,#yorum,#zil,#wordpress{border-left:1px solid #ebebeb;}
#bulut{background:url("../images/bulut.png") 16px no-repeat;}
#yorum{background:url("../images/yorumlar.png") 16px no-repeat;}
#yorum_sayi{text-align:right;position:absolute;margin:5px 0px 0px 80px;background:url("../images/sayi_bg.png") repeat-x;background-color:#ea5440;padding:0px 3px 0px 3px;font-size:10px;text-shadow:1px 1px #d23e2a;color:#fff;border:1px solid #db301a;border-radius:2px;}
#zil{background:url("../images/zil.png") 16px no-repeat;}
#wordpress{background:url("../images/wordpress.png") 16px no-repeat;}
#arti{background:url("../images/arti.png") 16px no-repeat;border-right:1px solid #ebebeb; }

#body{padding:25px 30px 25px 30px;margin-top: 49px;}
#p_title{margin-bottom:20px;background:url("../images/anasayfa.png") 5px no-repeat;font-size:18px;font-weight:bold;padding:5px 5px 5px 40px;color:#ea533f;}
#b_left,#b_right{border:1px solid #ebebeb;border-radius:5px;padding:20px 15px 20px 15px;width:315px;float:left;margin-right:30px;}
.bl_title{font-size:17px;color:#000;margin-bottom:15px;}
.bll_title{color:#666666;font-size:15px;}
.dots{background:url("../images/dots.png") no-repeat;width:121;height:1px;margin:11px 0px 11px 0px;}
#bl_1,#bl_2{float:left;width:140px;}
#bl_1{color:#666666;}
#bl_1 li,#bl_2 li{margin-bottom:18px;}
#bll_1,#bll_2,#blc_1,#blc_2{float:left;font-size:14px;}
#bll_1,#blc_1{width:35px;color:#1b6aad;text-align:right;margin-right:15px;}
.blue{color:#1b6aad;}
.green{color:#69ae30;}
.orange{color:#f6810f;}
.red{color:#f32f2f;}
#theme_notice{font-size:13px;color:#666666;float:left;margin-top:20px;}

#i_save{height:16px;margin-bottom:7px;}
#i_save ul{float:right;}
#i_save li{display:inline;}
#b_right input{background-color:#f6f6f6;border:none;padding:10px;font-size:14px;margin-bottom:7px;width:295px;color:#666666;}
#i_publish{margin-top:20px;}
#i_publish li{display:inline;}
#save,#del,.publish{border:none;border-radius:3px;cursor:pointer;}
#save,#del{padding:20px 15px 5px 15px;border:1px solid #d7d7d7;}
#save{background:url("../images/kayit.png"),url("../images/button2_bg.png");background-repeat:no-repeat,repeat-x;background-position:7px,0px 0px;}
#save:active{background:url("../images/kayit.png"),url("../images/button2_bg.png");background-repeat:no-repeat,repeat-x;background-position:7px,0px -29px;}
#del{background:url("../images/sil.png"),url("../images/button2_bg.png");background-repeat:no-repeat,repeat-x;background-position:7px,0px 0px;}
#del:active{background:url("../images/sil.png"),url("../images/button2_bg.png");background-repeat:no-repeat,repeat-x;background-position:7px,0px -29px;}

.publish{background:url("../images/button_bg.png") repeat-x;padding:5px 13px 5px 13px;border:1px solid #db311a;font-size:14px;color:#fff;text-shadow:1px 1px #ad3727;}
.publish:active{background:url("../images/button_bg.png") repeat-x 0px -29px;}
#i_publish .publish{float:right;}

#footer{border-top:1px solid #ebebeb;position:fixed;bottom:0;height:50px;width:100%;background: #fff;z-index: 20;}
#f_left{float:left;font-size:15px;color:#0d8cc8;padding:6px 15px 15px 20px;}
#f_right{float:right;margin-right:204px;}
#f_right li{display:inline;}
#user,#setting,#exit{position:relative;height:49px;float:left;border-left:1px solid #ebebeb; }
#setting,#exit{width:50px;}
#setting{background:url("../images/settings.png") 16px no-repeat;}
#exit{background:url("../images/exit.png") 16px no-repeat;}
#user{background:url("../images/anibor.png") no-repeat 10px;width:50px;padding-right:110px;padding-top:2px;}
#user font{position:absolute;margin:14px 0px 0px 50px;font-size:15px;color:#666666;padding-left:5px;}

/*==========================routes/header.html==============================*/

.notifier{
	float: left;
	margin-left: 300px;
}
.notifier .alert{
	position: relative;
}
.notifier .close{
	position: absolute;
	top: 1px;
	right: 1px;
}
.pagenum{
	float: right;
}
.pagenum pre{
	padding: 5px;
}
/*========================partials/city.html================================*/


.bs-callout {
	padding: 20px;
	margin: 10px 0;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
	overflow: hidden;
}
.bs-callout-warning.bs-small{
	float: left;
	width: 50%;
	padding: 5px 20px;
}
.bs-callout-info.bs-small,.bs-callout-danger.bs-small{
	padding: 5px 20px;
}
.bs-callout-info {
	border-left-color: #5bc0de;
}
.bs-callout-warning {
	border-left-color: #f0ad4e;
}
.bs-callout-danger {
	border-left-color: #d9534f;
}
.searchcitybtn{
	width: 10%;
	float: left;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 400px; 
    height: 300px;
}
.paginationmodel{
	margin: 0;
	float: right;
}
.form-group{
	margin-top: 5px;
	margin-bottom: 5px;
}
.auditmsg{
	width: 300px;
	margin-top: 10px;
}
.citynav{
	top: 100px;
}
.citynav li{
	display: block;
	padding: 4px 20px;
	font-size: 13px;
	font-weight: 500;
	color: #999;
	cursor: pointer;
	border-left: 1px solid #fff;
}
.citynav li:hover, .citynav li.active{
	color: #563d7c;
	text-decoration: none;
	background-color: transparent;
	border-left: 1px solid #563d7c;
}
/*.editbtns{
	top: 80px;
}*/
.input-group{
	margin-bottom: 5px;
}
.fileuploadbtncontain{
	position: fixed;
	top: 66px;
	left: 400px;
}

.setcovercontain li{
	float: left;
	position: relative;
}
.setcovercontain .img-thumbnail{
	display: block;
}
.cms-img{
	height: 200px;
	margin-bottom: 5px;
}
.cmstimepicker {
	float: left;

}
.timepickercontain{
	width: 100%;
	height: 105px;
}
.addtimebtn{
	margin-top: 34px;
	margin-left: 5px;
}
.line{
	float: left;
	margin: 43px 5px 0 5px;
}
.timepickday{
	float: left;
	width: 110px;
	margin: 34px 5px 0 0;
}



.my-slider {
    width: 450px;
    height: 300px;
    font-size:0;
}
.my-slider li {
    box-sizing: border-box;
    font-size:30px;
    position:relative;
}
.my-slider li div.debug {
    box-sizing: border-box;
    position:absolute;
    bottom:0;
    height:50px;
    background:rgba(0,0,0,0.7);
    color:white;
    font-size:12px;
    width:100%;
    padding:5px;
}
.my-slider.standard li {
    text-align:center;
    padding:20px;
    font-size:20px;
}
.big {
    margin-top:30px;
    width:100%;
    font-size:30px;
}
.controls {
    margin-top:5px;
    width:450px;
    text-align: center;
}
.ng-cloak {
  display:none;
}
.center {
    text-align:center;
}
.thumbs {
    width:450px;
    text-align:center;
}
.thumb {
    display: inline-block;
    background-size:cover;
    border:1px solid transparent;
    margin:2px 4px;
    width:60px;
    height:40px;
    transition: border 0.2s ease-in;
}
.is-active {
    border:1px solid red;
}
.details {
    color:white;
    font-size:12px;
    margin-bottom:10px;
}
.button{
    display: inline-block;
    text-decoration: none;
    font: bold 12px/12px HelveticaNeue, Arial;
    padding: 8px 11px;
    color: #555;
    border: 1px solid #dedede;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor:pointer;
}
.button:disabled {
    cursor: default !important;
    color: #aaa !important;
}
.button.grey{
    background: #bdbdbd;
    background: -webkit-gradient(linear, left top, left bottom, from(#cacaca), to(#aeaeae)); /*  WebKit */
    background: -moz-linear-gradient(top,  #cacaca, #aeaeae);
    border-color: #b5b5b5 #a1a1a1 #8f8f8f;
    color: #555;
    text-shadow: 0 1px 0 #d4d4d4;
}
.button.grey:hover{
    background: #c2c2c2;
    background: -webkit-gradient(linear, left top, left bottom, from(#bcbcbc), to(#c2c2c2)); /*  WebKit */
    background: -moz-linear-gradient(top,  #bcbcbc, #c2c2c2);
    border-color: #989898 #8e8e8e #878787;
    text-shadow: 0 1px 0 #dadada;
}

/* override default controls */
.rn-carousel-control {
    font-size:50px !important;
    color:white;
    opacity: 1;
}
.rn-carousel-control.rn-carousel-control-prev {
    left: 5px;
}
.rn-carousel-control.rn-carousel-control-next {
    right: 5px;
}