<table class="table table-hover">
  <thead>
    <tr>
      <th>city</th>
      <th>type</th>
      <th>editor</th>
      <th>action</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="auditing in auditings | filter: query">
      <td>{{auditing.city_name}}</td>
      <td>{{auditing.type}}</td>
      <td>{{auditing.editor_name}}</td>
      <td>
        <a type="button" class="btn btn-default" ng-href="#/task/{{task.city_id}}/{{task.type}}">edit item</a>
      </td>
    </tr>
  </tbody>
</table>