
<!-- A single page for managing entity, both for listing and editing -->

<!-- <input type="text" ng-model="query" placeholder="search" class="form-control searchmetabtn"> -->
<!-- <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm paginationmodel" boundary-links="true"></pagination> -->


<table class="table table-hover">
	<thead>
		<tr>
			<th>type</th>
			<th>value</th>
			<th><a type="button" data-toggle="modal" data-target="#metaDetailModalWindow" class="btn btn-default">add</a></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="meta in metas">
			<td>{{meta.type}}</td>
			<td>{{meta.value}}</td>
			<td>
				<a type="button" ng-click="editMeta(meta)"  data-toggle="modal" data-target="#metaDetailModalWindow" class="btn btn-default">编辑</a>
				<button type="button" ng-click="delMeta(meta)"  class="btn btn-danger">删除</button>
			</td>
		</tr>
	</tbody>
</table>


<!-- Editing Window -->

<div class="modal " id="metaDetailModalWindow">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <input type="text" ng-model="edit.type" />
        <input type="text" ng-model="edit.value" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="save()">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
$('#metaDetailModalWindow').modal({show: false});
</script>

