	<div class="col-lg-9">
		<div class="bs-callout bs-callout-danger" id="a11">
			<div class="alert alert-warning" ng-show="checked">
				<span class="glyphicon glyphicon-thumbs-up"></span><textarea class="form-control" rows='2'></textarea>
		    </div>
			<input type="checkbox" class="commentbtn" ng-model="checked" >
			<h4>detailed introduction</h4>
			<pre>{{restaurant.en_info.introduce}}</pre>
		</div>

		<div class="bs-callout bs-callout-danger" id="a12">
			<div class="alert alert-warning" ng-show="checked">
				<span class="glyphicon glyphicon-thumbs-up"></span><textarea class="form-control" rows='2'></textarea>
		    </div>
			<input type="checkbox" class="commentbtn" ng-model="checked" >
			<h4>tips</h4>
			<pre>{{restaurant.en_info.tips}}</pre>
		</div>

		<div class="bs-callout bs-callout-danger" id="a13">
			<div class="alert alert-warning" ng-show="checked">
				<span class="glyphicon glyphicon-thumbs-up"></span><textarea class="form-control" rows='2'></textarea>
		    </div>
			<input type="checkbox" class="commentbtn" ng-model="checked" >
			<h4>public transport</h4>
			<pre>{{restaurant.en_info.comments}}</pre>
		</div>
	</div>
	<div class="col-lg-3">
		<nav id="citynavaffix" class="citynav affix" data-spy="affix" data-offset-top="200">
			<a href="#/restaurantlist" class="btn btn-default">返回</a>
			<div class="auditmsg alert alert-info">
				<h4>编辑:{{auditmsg.editorname}}</h4>
				<h4>审核:{{auditmsg.auditorname}}</h4>
				<button type="button" ng-click="passaudit()" class="btn btn-success" ng-hide="auditmsg.status == 2">通过审核</button>
				<button type="button" ng-click="unpassaudit()" class="btn btn-warning" ng-hide="auditmsg.status == 2">未通过</button>
			</div>
			<h2>{{restaurant.name}}</h2>
			<ul>
				<li scroll-on-click>introduce</li>
				<li scroll-on-click>tips</li>
				<li scroll-on-click>comments</li>
			</ul>
		</nav>
	</div>
