	<div class="col-lg-9">
		<div class="bs-callout bs-callout-info" id="a1">
			<h4>封面图片</h4>
			<img class="img-thumbnail cms-img" ng-src="http://weegotest.b0.upaiyun.com/restaurant/origin/{{restaurant.cover_image}}" alt="" class="img-thumbnail">
		</div>
		<div class="bs-callout bs-callout-info" id="a2">
			<h4>图片</h4>
			<ul class="setcovercontain">
				<li ng-repeat="img in restaurant.image">
					<img class="img-thumbnail cms-img" ng-src="http://weegotest.b0.upaiyun.com/restaurant/origin/{{img}}" alt="" >
					<button type="button" class="btn btn-default" ng-click="setCoverImage(img)">设为封面</button>
					<button type="button" class="btn btn-danger" ng-click="delImg(img)">删除该图</button>
				</li>
			</ul>
		</div>
		<div class="bs-callout bs-callout-info" id="a2">
			<h4>图片url</h4>
			<ul class="setcovercontain">
				<li class="col-sm-2" ng-repeat="item in restaurant.image_url">
					<img class="img-thumbnail cms-img-sm" ng-src="http://weegotest.b0.upaiyun.com/restaurant/origin/{{item.img}}" alt="" >
					<input type="text" class="form-control" ng-model = "item.url">
				</li>
			</ul>
		</div>
		<div class="bs-callout bs-callout-info" id="a3">
			<h4>餐馆基本信息</h4>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>城市</h4>
				<h5>{{restaurant.city_name}}</h5>
				<div class="col-sm-4">
					<select class="form-control" ng-model="continent" ng-options="item.name for item in continents" ng-change="setCountries(continent);">
						<option value="">-- choose continent --</option>
					</select>
				</div>
				<div class="col-sm-4">
					<select class="form-control" ng-model="country" ng-options="item.cn_name for item in countries" ng-change="setCities(country)">
						<option value="">-- choose country --</option>
					</select>
				</div>
				<div class="col-sm-4">
			        <select class="form-control" ng-model="city" ng-options="item.cityname for item in cities" ng-change="changeCity(city)"></select>
				</div>

			</div>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>餐馆名</h4>
		        <input class="form-control" type="text" ng-model="restaurant.name">
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>菜系</h4>
				<div class="input-group" ng-repeat="category in restaurant.category">
					<input class="form-control" placeholder="{{category.name}}" disabled>
			        <span class="input-group-btn">
						<button type="button" class="btn btn-danger" ng-click="delCategory(category)">删除</button>
			        </span>
			    </div>
				<div class="input-group">
					<select class="form-control" ng-model="selectedcategory" ng-options="item.name for item in categorys">
						<option value="">-- 选择菜系 --</option>
					</select>
			        <span class="input-group-btn">
						<button type="button" class="btn btn-success" ng-click="addCategory(selectedcategory)">增加</button>
			        </span>
			    </div>
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>地址</h4>
		        <input class="form-control" type="text" ng-model="restaurant.address">
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>电话</h4>
		        <input class="form-control" type="text" ng-model="restaurant.tel">
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
		        <div class="form-group">
				    <div class="input-group">
				      <div class="input-group-addon">网址</div>
				      <input class="form-control" type="text" ng-model="restaurant.website">
				    </div>
				</div>
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>服务设施</h4>
				 <div class="btn-group" style="margin-bottom: 5px;">
			        <label class="btn btn-primary" ng-model="restaurant.info.wifi" btn-checkbox>免费WIFI</label>
			        <label class="btn btn-primary" ng-model="restaurant.info.yu_ding" btn-checkbox>预定</label>
			        <label class="btn btn-primary" ng-model="restaurant.info.delivery" btn-checkbox>送餐</label>
			        <label class="btn btn-primary" ng-model="restaurant.info.take_out" btn-checkbox>带走</label>
			        <label class="btn btn-primary" ng-model="restaurant.info.card" btn-checkbox>刷卡</label>
			    </div>
		        <div class="btn-group">
			        <label class="btn btn-primary" ng-model="restaurant.info.g_f_kid" btn-checkbox>适合孩子</label>
			        <label class="btn btn-primary" ng-model="restaurant.info.g_f_group" btn-checkbox>适合聚餐</label>
			        <label class="btn btn-primary" ng-model="restaurant.info.out_seat" btn-checkbox>室外雅座</label>
			        <label class="btn btn-primary" ng-model="restaurant.info.tv" btn-checkbox>电视</label>
			        <label class="btn btn-primary" ng-model="restaurant.info.waiter" btn-checkbox>服务员</label>
			    </div>
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>适合什么</h4>
		        <input class="form-control" type="text" ng-model="restaurant.info.g_for">
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>噪音</h4>
		        <input class="form-control" type="text" ng-model="restaurant.info.noise">
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>酒水</h4>
		        <input class="form-control" type="text" ng-model="restaurant.info.alcohol">
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>价格描述</h4>
		        <input class="form-control" type="text" ng-model="restaurant.price_desc">
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>价格等级</h4>
				<i>1:超便宜，2:便宜，3:一般，4:贵，5:超级贵</i>
		        <input class="form-control" type="number" ng-model="restaurant.price_level" min="1" max="5" required>
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>经纬度</h4>
				<div class="input-group">
			      <div class="input-group-addon">纬度</div>
			      <input class="form-control" type="text" ng-model="restaurant.latitude">
			    </div>
			    <div class="input-group">
			      <div class="input-group-addon">经度</div>
			      <input class="form-control" type="text" ng-model="restaurant.longitude">
			    </div>
			</div>
		</div>
		<div class="bs-callout bs-callout-info" id="a4">
			<h4>制定计划相关信息</h4>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>开放时间</h4>
				<div class="timepickercontain">
					<select class="form-control timepickday" ng-model="opentime.weekday" ng-options="item.name for item in weekdays">
						<option value="">选择周几</option>
					</select>
					<timepicker class="cmstimepicker" ng-model="opentime.amtime" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
					<h5 class="line">——</h5>
					<timepicker class="cmstimepicker" ng-model="opentime.pmtime" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
					<button type="button" class="btn btn-default addtimebtn" ng-click="addOpenTime(opentime)">增加</button>
				</div>
				<div class="input-group" ng-repeat="open_time in restaurant.open_time">
					<input class="form-control" placeholder="{{open_time.desc}}" disabled>
			        <span class="input-group-btn">
						<button type="button" class="btn btn-danger" ng-click="delOpenTime(open_time)">删除</button>
			        </span>
			    </div>
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>游览时间段</h4>
				<div class="btn-group">
			        <label class="btn btn-primary" ng-model="restaurant.am" btn-checkbox>上午</label>
			        <label class="btn btn-primary" ng-model="restaurant.pm" btn-checkbox>下午</label>
			        <label class="btn btn-primary" ng-model="restaurant.ev" btn-checkbox>晚上</label>
			    </div>
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>推荐时间</h4>
		        <input class="form-control" type="text" ng-model="restaurant.recommand_duration" value="{{restaurant.recommand_duration}}分钟">
			</div>
			
		</div>
		<div class="bs-callout bs-callout-info" id="a5">
			<h4>排名相关信息</h4>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>排名</h4>
		        <input class="form-control" type="number" ng-model="restaurant.ranking" min="1" required>
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>是否推荐</h4>
				<div class="btn-group">
			        <label class="btn btn-primary" ng-model="restaurant.recommand_flag" btn-radio="true">推荐</label>
			        <label class="btn btn-primary" ng-model="restaurant.recommand_flag" btn-radio="false">不推荐</label>
			    </div>
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>城市首页显示</h4>
				<div class="btn-group">
			        <label class="btn btn-primary" ng-model="restaurant.index_flag" btn-radio="true">显示</label>
			        <label class="btn btn-primary" ng-model="restaurant.index_flag" btn-radio="false">不显示</label>
			    </div>
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>是否显示</h4>
				<div class="btn-group">
			        <label class="btn btn-primary" ng-model="restaurant.show_flag" btn-radio="true">显示</label>
			        <label class="btn btn-primary" ng-model="restaurant.show_flag" btn-radio="false">不显示</label>
			    </div>
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>评星</h4>
		        <input class="form-control" type="text" ng-model="restaurant.rating">
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>评论数</h4>
		        <input class="form-control" type="text" ng-model="restaurant.reviews">
			</div>
		</div>
		<div class="bs-callout bs-callout-info" id="a6">
			<h4>来自yelp的信息</h4>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>来源链接</h4>
				<p><a ng-href="{{restaurant.url}}">{{restaurant.url}}</a></p>
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>总体评分</h4>
				<p>{{restaurant.score}}</p>
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>服务评价</h4>
				<p>{{restaurant.rating_service}}</p>
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>环境评价</h4>
				<p>{{restaurant.rating_env}}</p>
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>食物及信用评价</h4>
				<p>{{restaurant.rating_food}}</p>
			</div>
		</div>
		<div class="bs-callout bs-callout-info" id="a7">
			<h4>筛选标签</h4>
			<p>{{tags}}</p>
			<div class="btn-group">
		        <label class="btn btn-primary" ng-model="tagsObj.michilin" btn-checkbox>michilin</label>
		        <label class="btn btn-primary" ng-model="tagsObj.bestfordinner" btn-checkbox>bestfordinner</label>
		        <label class="btn btn-primary" ng-model="tagsObj.popular" btn-checkbox>popular</label>
		        <label class="btn btn-primary" ng-model="tagsObj.localflag" btn-checkbox>localflag</label>
		    </div>
		</div>
		<div class="bs-callout bs-callout-info" id="a8">
			<div class="alert alert-warning" ng-show="checked">
				<span class="glyphicon glyphicon-thumbs-up"></span><textarea class="form-control" rows='2'></textarea>
		    </div>
			<input type="checkbox" class="commentbtn" ng-model="checked" >
			<h4>简介</h4>
			<text-angular ng-model="restaurant.introduce"></text-angular>
		</div>
		<div class="bs-callout bs-callout-info" id="a8">
			<div class="alert alert-warning" ng-show="checked">
				<span class="glyphicon glyphicon-thumbs-up"></span><textarea class="form-control" rows='2'></textarea>
		    </div>
			<input type="checkbox" class="commentbtn" ng-model="checked" >
			<h4>一句话介绍</h4>
			<text-angular ng-model="restaurant.brief_introduce"></text-angular>
		</div>
		<div class="bs-callout bs-callout-info" id="a9">
			<div class="alert alert-warning" ng-show="checked">
				<span class="glyphicon glyphicon-thumbs-up"></span><textarea class="form-control" rows='2'></textarea>
		    </div>
			<input type="checkbox" class="commentbtn" ng-model="checked" >
			<h4>小贴士</h4>
			<text-angular ng-model="restaurant.tips"></text-angular>
		</div>

		<div class="bs-callout bs-callout-info" id="a10">
			<div class="alert alert-warning" ng-show="checked">
				<span class="glyphicon glyphicon-thumbs-up"></span><textarea class="form-control" rows='2'></textarea>
		    </div>
			<input type="checkbox" class="commentbtn" ng-model="checked" >
			<h4>评论</h4>
			<pre ng-repeat="comment in restaurant.comments">{{comment}}</pre>
		</div>
	</div>
	<div class="col-lg-3">
		<nav id="citynavaffix" class="citynav affix" data-spy="affix" data-offset-top="200">
			<button type="button" ng-click="save()" class="btn btn-success">保存</button>
			<a href="#/restaurantlist" class="btn btn-default">返回</a>
			<div class="auditmsg alert alert-info">
				<h4>编辑:{{editor.editor_name}}</h4>
				<h4>审核:{{audit.auditorname}}</h4>
				<div ng-hide="audit.status == 2">
			        <div class="input-group">
					    <div class="input-group-addon">审核</div>
						<select class="form-control" ng-model="audit.auditor" ng-options="item.editor_name for item in auditors">
							<option value="">-- 选择审核 --</option>
						</select>
				    </div>	
					<button type="button" ng-click="postAudit()" class="btn btn-primary">提交审核</button>
				</div>
			</div>
			<h2>{{restaurant.name}}</h2>
			<ul>
				<li scroll-on-click>封面图片</li>
				<li scroll-on-click>图片</li>
				<li scroll-on-click>图片url</li>
				<li scroll-on-click>餐馆基本信息</li>
				<li scroll-on-click>制定计划相关信息</li>
				<li scroll-on-click>排名相关信息</li>
				<li scroll-on-click>来自yelp的信息</li>
				<li scroll-on-click>筛选标签</li>
				<li scroll-on-click>简介</li>
				<li scroll-on-click>小贴士</li>
				<li scroll-on-click>评论</li>
			</ul>
		</nav>
	</div>
