	<div class="col-lg-9">
		<div class="bs-callout bs-callout-info" id="a1">
			<h4>封面图片</h4>
			<img class="img-thumbnail cms-img" src="http://weegotest.b0.upaiyun.com/shop/origin/{{shop.cover_image}}" alt="" class="img-thumbnail">
		</div>
		<div class="bs-callout bs-callout-info" id="a2">
			<h4>图片</h4>
			<ul class="setcovercontain">
				<li ng-repeat="img in shop.image">
					<img class="img-thumbnail cms-img" ng-src="http://weegotest.b0.upaiyun.com/shop/origin/{{img}}" alt="" >
					<button type="button" class="btn btn-default" ng-click="setCoverImage(img)">设为封面</button>
					<button type="button" class="btn btn-danger" ng-click="delImg(img)">删除该图</button>
				</li>
			</ul>
		</div>
		<div class="bs-callout bs-callout-info" id="a3">
			<h4>购物基本信息</h4>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>城市</h4>
				<p>{{shop.city_name}}</p>
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>店名</h4>
		        <input class="form-control" type="text" ng-model="shop.name">
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>购物类型</h4>
				<div class="input-group" ng-repeat="category in shop.category">
					<input class="form-control" placeholder="{{category.name}}" disabled>
			        <span class="input-group-btn">
						<button type="button" class="btn btn-danger" ng-click="delCategory(category)">删除</button>
			        </span>
			    </div>
				<div class="input-group">
					<select class="form-control" ng-model="selectedcategory" ng-options="item.name for item in categorys">
						<option value="">-- 选择类型 --</option>
					</select>
			        <span class="input-group-btn">
						<button type="button" class="btn btn-success" ng-click="addCategory(selectedcategory)">增加</button>
			        </span>
			    </div>
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>购物区域</h4>
				<select class="form-control" ng-model="shop" ng-options="item.name for item in shopareas">
					<option value="">-- 选择区域 --</option>
				</select>
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>是否是大商场</h4>
				<div class="btn-group">
			        <label class="btn btn-primary" ng-model="shop.show_flag" btn-radio="true">是</label>
			        <label class="btn btn-primary" ng-model="shop.show_flag" btn-radio="false">不是</label>
			    </div>
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>地址</h4>
		        <input class="form-control" type="text" ng-model="shop.address">
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>电话</h4>
		        <input class="form-control" type="text" ng-model="shop.tel">
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>网址</h4>
		        <div class="form-group">
				    <div class="input-group">
				      <div class="input-group-addon">http://</div>
				      <input class="form-control" type="email" ng-model="shop.website">
				    </div>
				</div>
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>价格描述</h4>
		        <input class="form-control" type="text" ng-model="shop.price_desc">
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>价格等级</h4>
				<i>1:超便宜，2:便宜，3:一般，4:贵，5:超级贵</i>
		        <input class="form-control" type="number" ng-model="shop.price_level" min="1" max="5" required>
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>经纬度</h4>
				<div class="input-group">
			      <div class="input-group-addon">纬度</div>
			      <input class="form-control" type="text" ng-model="shop.latitude">
			    </div>
			    <div class="input-group">
			      <div class="input-group-addon">经度</div>
			      <input class="form-control" type="text" ng-model="shop.longitude">
			    </div>
			</div>
		</div>
		<div class="bs-callout bs-callout-info" id="a4">
			<h4>制定计划相关信息</h4>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>开放时间</h4>
				{{opentime.weekday}}
				{{opentime.amtime}}
				{{opentime.pmtime}}
				<div class="timepickercontain">
					<select class="form-control timepickday" ng-model="opentime.weekday" ng-options="item.name for item in weekdays">
						<option value="">选择周几</option>
					</select>
					<timepicker class="cmstimepicker" ng-model="opentime.amtime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
					<h5 class="line">——</h5>
					<timepicker class="cmstimepicker" ng-model="opentime.pmtime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
					<button type="button" class="btn btn-default addtimebtn" ng-click="delOpentime(opentime)">增加</button>
				</div>
				<div class="input-group" ng-repeat="opentime in shop.open_time">
					<input class="form-control" placeholder="{{opentime.desc}}" disabled>
			        <span class="input-group-btn">
						<button type="button" class="btn btn-danger" ng-click="delOpentime(opentime)">删除</button>
			        </span>
			    </div>
			</div>
		</div>
		<div class="bs-callout bs-callout-info" id="a5">
			<h4>排名相关信息</h4>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>排名</h4>
		        <input class="form-control" type="number" ng-model="shop.ranking" min="1" required>
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>是否推荐</h4>
				<div class="btn-group">
			        <label class="btn btn-primary" ng-model="shop.recommand_flag" btn-radio="true">推荐</label>
			        <label class="btn btn-primary" ng-model="shop.recommand_flag" btn-radio="false">不推荐</label>
			    </div>
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>是否显示</h4>
				<div class="btn-group">
			        <label class="btn btn-primary" ng-model="shop.show_flag" btn-radio="true">显示</label>
			        <label class="btn btn-primary" ng-model="shop.show_flag" btn-radio="false">不显示</label>
			    </div>
			</div>
			
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>评星</h4>
		        <input class="form-control" type="text" ng-model="shop.rating">
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>评论数</h4>
		        <input class="form-control" type="text" ng-model="shop.reviews">
			</div>
		</div>
		<div class="bs-callout bs-callout-info" id="a6">
			<h4>来自yelp的信息</h4>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>来源链接</h4>
				<p><a ng-href="{{shop.url}}">{{shop.url}}</a></p>
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>总体评分</h4>
				<p>{{shop.score}}</p>
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>服务评价</h4>
				<p>{{shop.rating_service}}</p>
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>环境评价</h4>
				<p>{{shop.rating_env}}</p>
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>食物及信用评价</h4>
				<p>{{shop.rating_food}}</p>
			</div>
		</div>
		<div class="bs-callout bs-callout-info" id="a7">
			<div class="alert alert-warning" ng-show="checked">
				<span class="glyphicon glyphicon-thumbs-up"></span><textarea class="form-control" rows='2'></textarea>
		    </div>
			<input type="checkbox" class="commentbtn" ng-model="checked" >
			<h4>简介</h4>
			<text-angular ng-model="shop.introduce"></text-angular>
		</div>

		<div class="bs-callout bs-callout-info" id="a8">
			<div class="alert alert-warning" ng-show="checked">
				<span class="glyphicon glyphicon-thumbs-up"></span><textarea class="form-control" rows='2'></textarea>
		    </div>
			<input type="checkbox" class="commentbtn" ng-model="checked" >
			<h4>小贴士</h4>
			<text-angular ng-model="shop.tips"></text-angular>
		</div>

		<div class="bs-callout bs-callout-info" id="a9">
			<div class="alert alert-warning" ng-show="checked">
				<span class="glyphicon glyphicon-thumbs-up"></span><textarea class="form-control" rows='2'></textarea>
		    </div>
			<input type="checkbox" class="commentbtn" ng-model="checked" >
			<h4>评论</h4>
			<pre ng-repeat="comment in shop.comments">{{comment}}</pre>
		</div>

		<div class="bs-callout bs-callout-danger" id="a10">
			<div class="alert alert-warning" ng-show="checked">
				<span class="glyphicon glyphicon-thumbs-up"></span><textarea class="form-control" rows='2'></textarea>
		    </div>
			<input type="checkbox" class="commentbtn" ng-model="checked" >
			<h4>introduce</h4>
			<text-angular ng-model="shop.en_info.introduce"></text-angular>
		</div>

		<div class="bs-callout bs-callout-danger" id="a11">
			<div class="alert alert-warning" ng-show="checked">
				<span class="glyphicon glyphicon-thumbs-up"></span><textarea class="form-control" rows='2'></textarea>
		    </div>
			<input type="checkbox" class="commentbtn" ng-model="checked" >
			<h4>tips</h4>
			<text-angular ng-model="shop.en_info.tips"></text-angular>
			<pre>{{shop.en_info.tips}}</pre>
		</div>

		<div class="bs-callout bs-callout-danger" id="a12">
			<div class="alert alert-warning" ng-show="checked">
				<span class="glyphicon glyphicon-thumbs-up"></span><textarea class="form-control" rows='2'></textarea>
		    </div>
			<input type="checkbox" class="commentbtn" ng-model="checked" >
			<h4>comments</h4>
			<text-angular ng-model="shop.en_info.comments"></text-angular>
		</div>
	</div>
	<div class="col-lg-3">
		<nav id="citynavaffix" class="citynav affix" data-spy="affix" data-offset-top="200">
			<h2>{{shop.name}}</h2>
			<ul>
				<li scroll-on-click>封面图片</li>
				<li scroll-on-click>图片</li>
				<li scroll-on-click>餐馆基本信息</li>
				<li scroll-on-click>制定计划相关信息</li>
				<li scroll-on-click>排名相关信息</li>
				<li scroll-on-click>来自yelp的信息</li>
				<li scroll-on-click>简介</li>
				<li scroll-on-click>小贴士</li>
				<li scroll-on-click>评论</li>
				<li scroll-on-click>introduce</li>
				<li scroll-on-click>tips</li>
				<li scroll-on-click>comments</li>
			</ul>
		</nav>
		<div class="editbtns affix">
			<button type="button" ng-click="save()" class="btn btn-success">保存</button>
			<a href="#/shoplist" class="btn btn-default">返回</a>
		</div>
	</div>
