<div class="col-lg-9">
	<div class="bs-callout bs-callout-danger" id="a14">
		<h4>short introduce</h4>
		<text-angular ng-model="city.en_info.short_introduce"></text-angular>
	</div>
	<div class="bs-callout bs-callout-danger" id="a15">
		<h4>attraction overview</h4>
		<text-angular ng-model="city.en_info.attraction_overview"></text-angular>
	</div>
	<div class="bs-callout bs-callout-danger" id="a16">
		<h4>restaurant overview</h4>
		<text-angular ng-model="city.en_info.restaurant_overview"></text-angular>
	</div>
	<div class="bs-callout bs-callout-danger" id="a17">
		<h4>shopping overview</h4>
		<text-angular ng-model="city.en_info.shopping_overview"></text-angular>
	</div>
	<div class="bs-callout bs-callout-danger" id="a18">
		<h4>introduce</h4>
		<div class="bs-callout bs-callout-danger bs-small">
			<div class="form-group">
			    <h4 class="col-sm-2">title</h4>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" ng-model="atip.intrItemTitle">
			    </div>
			</div>
			<div class="form-group">
			    <h4 class="col-sm-2">content</h4>
			    <div class="col-sm-10">
					<text-angular name="atip.intrItemContent" ng-model="atip.intrItemContent"></text-angular>
			    </div>
			</div>
			<div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
					<button type="button" class="btn btn-success" ng-click="addTip(atip,  'introduce', 'en_info')">{{editMode ? "save":"add"}}</button>
			    </div>
		    </div>
		</div>
		<div class="bs-callout bs-callout-danger bs-small" ng-repeat="introduce in city.en_info.introduce">
			<h4>{{introduce.intrItemTitle}}</h4>
			<pre ng-bind-html="introduce.intrItemContent"></pre>
			<button type="button" class="btn btn-default" ng-click="editTip(introduce, 'introduce', 'en_info')">edit</button>
			<button type="button" class="btn btn-danger" ng-click="removeTip(introduce, 'introduce', 'en_info')">delete</button>
		</div>
	</div>
	<div class="bs-callout bs-callout-danger" id="a19">
		<h4>tips</h4>
		<div class="bs-callout bs-callout-danger bs-small">
			<div class="form-group">
			    <h4 class="col-sm-2">title</h4>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" ng-model="atip.tipItemTitle">
			    </div>
			</div>
			<div class="form-group">
			    <h4 class="col-sm-2">content</h4>
			    <div class="col-sm-10">
					<text-angular name="atip.tipItemContent" ng-model="atip.tipItemContent"></text-angular>
			    </div>
			</div>
			<div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
					<button type="button" class="btn btn-success" ng-click="addTip(atip, 'tips', 'en_info')">{{editMode ? "save":"add"}}</button>
			    </div>
		    </div>
		</div>
		<div class="bs-callout bs-callout-danger bs-small" ng-repeat="tip in city.en_info.tips">
			<h4>{{tip.tipItemTitle}}</h4>
			<pre ng-bind-html="tip.tipItemContent"></pre>
			<button type="button" class="btn btn-default" ng-click="editTip(tip, 'tips', 'en_info')">edit</button>
			<button type="button" class="btn btn-danger" ng-click="removeTip(tip, 'tips', 'en_info')">delete</button>
		</div>
	</div>
	<div class="bs-callout bs-callout-danger" id="a20">
		<h4>traffic</h4>
		<div class="bs-callout bs-callout-danger bs-small">
			<div class="form-group">
			    <h4 class="col-sm-2">title</h4>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" ng-model="atip.traItemTitle">
			    </div>
			</div>
			<div class="form-group">
			    <h4 class="col-sm-2">content</h4>
			    <div class="col-sm-10">
					<text-angular name="atip.traItemContent" ng-model="atip.traItemContent"></text-angular>
			    </div>
			</div>
			<div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
					<button type="button" class="btn btn-success" ng-click="addTip(atip, 'traffic', 'en_info')">{{editMode ? "save":"add"}}</button>
			    </div>
		    </div>
		</div>
		<div class="bs-callout bs-callout-danger bs-small" ng-repeat="traffic in city.en_info.traffic">
			<h4>{{traffic.traItemTitle}}</h4>
			<pre ng-bind-html="traffic.traItemContent"></pre>
			<button type="button" class="btn btn-default" ng-click="editTip(traffic, 'traffic', 'en_info')">edit</button>
			<button type="button" class="btn btn-danger" ng-click="removeTip(traffic, 'traffic', 'en_info')">delete</button>
		</div>
	</div>

	<div class="bs-callout bs-callout-danger" id="a21">
		<h4>city overview</h4>
		<text-angular ng-model="city.en_info.city_overview"></text-angular>
	</div>
</div>
<div class="col-lg-3">
	<nav id="citynavaffix" class="citynav affix">
		<button type="button" ng-click="save()" class="btn btn-success">保存</button>
		<a href="#/citylist" class="btn btn-default">返回</a>
		<div class="auditmsg alert alert-info">
			<h4>编辑:{{editor.editor_name}}</h4>
			<h4>审核:{{audit.auditorname}}</h4>
		    <div class="input-group">
			    <div class="input-group-addon">审核</div>
				<select class="form-control" ng-model="audit.auditor" ng-options="item.editor_name for item in auditors">
					<option value="">-- 选择审核 --</option>
				</select>
		    </div>
			<button type="button" ng-click="postAudit()" class="btn btn-primary">提交审核</button>
		</div>
		<h2>{{city.cityname}}</h2>
		<ul>
			<li scroll-on-click>short introduce</li>
			<li scroll-on-click>attraction overview</li>
			<li scroll-on-click>restaurant overview</li>
			<li scroll-on-click>shopping overview</li>
			<li scroll-on-click>introduce</li>
			<li scroll-on-click>tips</li>
			<li scroll-on-click>traffic</li>
		</ul>
	</nav>
</div>