	<div class="col-lg-9">
		<form class="form-horizontal" role="form">
			<div class="bs-callout bs-callout-info" id="a1">
				<h4>封面图片</h4>
				<img src="http://weegotest.b0.upaiyun.com/city/imgsizeC2/{{city.coverImageName}}" alt="" class="img-thumbnail">
			</div>
			<div class="bs-callout bs-callout-info" id="a2">
				<h4>图片</h4>
				<!-- <img ng-repeat="image in city.image" src="http://weegotest.b0.upaiyun.com/city/imgsizeC2/{{image}}" alt="" class="img-thumbnail"> -->
				<div class="slidemodel">
				    <carousel interval="myInterval">
				      <slide ng-repeat="image in city.image" active="slide.active">
				        <img ng-src="http://weegotest.b0.upaiyun.com/city/imgsizeC2/{{image}}" style="margin:auto;">
				      </slide>
				    </carousel>
				  </div>
			</div>
			<div class="bs-callout bs-callout-info" id="a3">
				<h4>城市背景大图</h4>
				<div class="slidemodel">
				    <carousel interval="myInterval">
				      <slide ng-repeat="image in city.backgroundimage" active="slide.active">
				        <img ng-src="http://weegotest.b0.upaiyun.com/city/imgsizeC1/{{image}}" style="margin:auto;">
				      </slide>
				    </carousel>
				</div>
			</div>

			<div class="bs-callout bs-callout-info" id="a4">
				<h4>城市基本信息</h4>
				<div class="bs-callout bs-callout-warning bs-small">
					<div class="form-group">
					    <div class="input-group">
					      <div class="input-group-addon">大洲</div>
					      <input class="form-control" type="email" placeholder="{{city.continents}}">
					    </div>
					</div>
				</div>
				<div class="bs-callout bs-callout-warning bs-small">
					<div class="form-group">
					    <div class="input-group">
					      <div class="input-group-addon">国家</div>
					      <input class="form-control" type="email" placeholder="{{city.countryname}}">
					    </div>
					</div>
				</div>
				<div class="bs-callout bs-callout-warning bs-small">
					<div class="form-group">
					    <div class="input-group">
					      <div class="input-group-addon">城市名（中文）</div>
					      <input class="form-control" type="email" placeholder="{{city.cityname}}">
					    </div>
					</div>
				</div>
				<div class="bs-callout bs-callout-warning bs-small">
					<div class="form-group">
					    <div class="input-group">
					      <div class="input-group-addon">城市名（英文）</div>
					      <input class="form-control" type="email" placeholder="{{city.cityname_en}}">
					    </div>
					</div>
				</div>
				<div class="bs-callout bs-callout-warning bs-small">
					<div class="form-group">
					    <div class="input-group">
					      <div class="input-group-addon">城市名（拼音）</div>
					      <input class="form-control" type="email" placeholder="{{city.cityname_py}}">
					    </div>
					</div>
				</div>
				<div class="bs-callout bs-callout-warning bs-small">
					<div class="form-group">
					    <div class="input-group">
					      <div class="input-group-addon">城市WEOID</div>
					      <input class="form-control" type="email" placeholder="{{city.weoid || '无'}}">
					    </div>
					</div>
				</div>
				<div class="bs-callout bs-callout-warning bs-small">
					<div class="form-group">
					    <div class="input-group">
					      <div class="input-group-addon">纬度</div>
					      <input class="form-control" type="email" placeholder="{{city.latitude}}">
					    </div>
					</div>
				    <div class="form-group">
					    <div class="input-group">
					      <div class="input-group-addon">经度</div>
					      <input class="form-control" type="email" placeholder="{{city.longitude}}">
					    </div>
					</div>
				</div>
			</div>
			<div class="bs-callout bs-callout-info" id="a5">
				<h4>制定计划相关信息</h4>
				<div class="bs-callout bs-callout-warning bs-small">
					<div class="form-group">
					    <div class="input-group">
					      <div class="input-group-addon">推荐天数</div>
					      <input class="form-control" type="email" placeholder="{{city.recommand_day}}">
					    </div>
					</div>
				</div>
				<div class="bs-callout bs-callout-warning bs-small">
					<div class="form-group">
					    <div class="input-group">
					      <div class="input-group-addon">推荐强度</div>
					      <input class="form-control" type="email" placeholder="{{city.recommand_intensity}}">
					    </div>
					</div>
				</div>
				<div class="bs-callout bs-callout-warning bs-small">
					<h4>热门城市</h4>
					<div class="btn-group">
				        <label class="btn btn-primary" ng-model="hotFlagModel" btn-radio="'1'">热门</label>
				        <label class="btn btn-primary" ng-model="hotFlagModel" btn-radio="'0'">不热门</label>
				    </div>
				</div>
				<div class="bs-callout bs-callout-warning bs-small">
					<h4>是否显示</h4>
					<div class="btn-group">
				        <label class="btn btn-primary" ng-model="showFlagModel" btn-radio="'1'">显示</label>
				        <label class="btn btn-primary" ng-model="showFlagModel" btn-radio="'0'">不显示</label>
				    </div>
				</div>
				<div class="bs-callout bs-callout-warning bs-small">
					<div class="form-group">
					    <div class="input-group">
					      <div class="input-group-addon">推荐出发点</div>
					      <input class="form-control" type="email" placeholder="{{city.recommand_center.name}}">
					    </div>
					    <div class="input-group">
					      <div class="input-group-addon">纬度</div>
					      <input class="form-control" type="email" placeholder="{{city.recommand_center.latitude}}">
					    </div>
					    <div class="input-group">
					      <div class="input-group-addon">经度</div>
					      <input class="form-control" type="email" placeholder="{{city.recommand_center.longitude}}">
					    </div>
					</div>
				</div>
			</div>
			<div class="bs-callout bs-callout-info" id="a6">
				<h4>标签</h4>
				<div class="bs-callout bs-callout-warning bs-small">
					<h4>主标签</h4>
					<p>{{masterlabel}}</p>
					<div class="input-group">
						<select class="form-control" ng-model="selectedMasterItem" ng-options="item as item.name for item in masterlabels"></select>
				        <span class="input-group-btn">
							<button type="button" class="btn btn-success" ng-click="fixMasterlabel(selectedMasterItem._id)">修改</button>
				        </span>
				    </div>
				</div>
				<div class="bs-callout bs-callout-warning bs-small">
					<h4>子标签</h4>
                    <div class="input-group" ng-repeat="sublabel in sublabels">
						<input class="form-control" placeholder="{{sublabel.label}}" disabled>
				        <span class="input-group-btn">
							<button type="button" class="btn btn-danger">删除</button>
				        </span>
				    </div>
					<div class="input-group">
						<select class="form-control" ng-model="selectedSubItem" ng-options="item as item.name for item in sublabelsopts"></select>
				        <span class="input-group-btn">
							<button type="button" class="btn btn-success" ng-click="addSublabel(selectedSubItem._id)">增加</button>
				        </span>
				    </div>
				</div>
			</div>
			<div class="bs-callout bs-callout-info" id="a7">
				<h4>一句话简介</h4>
				<textarea class="form-control textarea" rows="3">{{city.short_introduce}}</textarea>
			</div>
			<div class="bs-callout bs-callout-info" id="a8">
				<h4>景点概述</h4>
				<textarea class="form-control" rows="3">{{city.attraction_overview}}</textarea>
			</div>
			<div class="bs-callout bs-callout-info" id="a9">
				<h4>餐馆概述</h4>
				<textarea class="form-control" rows="3">{{city.restaurant_overview}}</textarea>
			</div>
			<div class="bs-callout bs-callout-info" id="a10">
				<h4>购物概述</h4>
				<textarea class="form-control" rows="3">{{city.shopping_overview}}</textarea>
			</div>

			<div class="bs-callout bs-callout-info" id="a11">
				<h4>简介</h4>
				<div class="bs-callout bs-callout-info bs-small">
					<div class="form-group">
					    <h4 class="col-sm-2">标题</h4>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" ng-model="atip.intrItemTitle">
					    </div>
					</div>
					<div class="form-group">
					    <h4 class="col-sm-2">内容</h4>
					    <div class="col-sm-10">
							<textarea class="form-control" rows="3" ng-model="atip.intrItemContent"></textarea>
					    </div>
					</div>
					<div class="form-group">
					    <div class="col-sm-offset-2 col-sm-10">
							<button type="button" class="btn btn-success" ng-click="addTip(atip, 'introduce')">{{editMode ? "保存":"增加"}}</button>
					    </div>
				    </div>
				</div>
				<div class="bs-callout bs-callout-info bs-small" ng-repeat="introduce in city.introduce">
					<h4>{{introduce.intrItemTitle}}</h4>
					<pre>{{introduce.intrItemContent}}</pre>
					<button type="button" class="btn btn-default" ng-click="editTip(introduce, 'introduce')">编辑</button>
					<button type="button" class="btn btn-danger" ng-click="removeTip(introduce, 'introduce')">删除</button>
				</div>
			</div>

			<div class="bs-callout bs-callout-info" id="a12">
				<h4>小贴士</h4>
				<div class="bs-callout bs-callout-info bs-small">
					<div class="form-group">
					    <h4 class="col-sm-2">标题</h4>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" ng-model="atip.tipItemTitle">
					    </div>
					</div>
					<div class="form-group">
					    <h4 class="col-sm-2">内容</h4>
					    <div class="col-sm-10">
							<textarea class="form-control" rows="3" ng-model="atip.tipItemContent"></textarea>
					    </div>
					</div>
					<div class="form-group">
					    <div class="col-sm-offset-2 col-sm-10">
							<button type="button" class="btn btn-success" ng-click="addTip(atip, 'tips')">{{editMode ? "保存":"增加"}}</button>
					    </div>
				    </div>
				</div>
				<div class="bs-callout bs-callout-info bs-small" ng-repeat="tip in city.tips">
					<h4>{{tip.tipItemTitle}}</h4>
					<pre>{{tip.tipItemContent}}</pre>
					<button type="button" class="btn btn-default" ng-click="editTip(tip, 'tips')">编辑</button>
					<button type="button" class="btn btn-danger" ng-click="removeTip(tip, 'tips')">删除</button>
				</div>
			</div>

			<div class="bs-callout bs-callout-info" id="a13">
				<h4>交通</h4>
				<div class="bs-callout bs-callout-info bs-small">
					<div class="form-group">
					    <h4 class="col-sm-2">标题</h4>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" ng-model="atip.traItemTitle">
					    </div>
					</div>
					<div class="form-group">
					    <h4 class="col-sm-2">内容</h4>
					    <div class="col-sm-10">
							<textarea class="form-control" rows="3" ng-model="atip.traItemContent"></textarea>
					    </div>
					</div>
					<div class="form-group">
					    <div class="col-sm-offset-2 col-sm-10">
							<button type="button" class="btn btn-success" ng-click="addTip(atip, 'traffic')">{{editMode ? "保存":"增加"}}</button>
					    </div>
				    </div>
				</div>
				<div class="bs-callout bs-callout-info bs-small" ng-repeat="traffic in city.traffic">
					<h4>{{traffic.traItemTitle}}</h4>
					<pre>{{traffic.traItemContent}}</pre>
					<button type="button" class="btn btn-default" ng-click="editTip(traffic, 'traffic')">编辑</button>
					<button type="button" class="btn btn-danger" ng-click="removeTip(traffic, 'traffic')">删除</button>
				</div>
			</div>

			<div class="bs-callout bs-callout-danger" id="a14">
				<h4>short introduce</h4>
				<textarea class="form-control" rows="3">{{city.en_info.short_introduce}}</textarea>
			</div>
			<div class="bs-callout bs-callout-danger" id="a15">
				<h4>attraction overview</h4>
				<textarea class="form-control" rows="3">{{city.en_info.attraction_overview}}</textarea>
			</div>
			<div class="bs-callout bs-callout-danger" id="a16">
				<h4>restaurant overview</h4>
				<textarea class="form-control" rows="3">{{city.en_info.restaurant_overview}}</textarea>
			</div>
			<div class="bs-callout bs-callout-danger" id="a17">
				<h4>shopping overview</h4>
				<textarea class="form-control" rows="3">{{city.en_info.shopping_overview}}</textarea>
			</div>
			<div class="bs-callout bs-callout-danger" id="a18">
				<h4>introduce</h4>
				<div class="bs-callout bs-callout-danger bs-small">
					<div class="form-group">
					    <h4 class="col-sm-2">title</h4>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" ng-model="atip.intrItemTitle">
					    </div>
					</div>
					<div class="form-group">
					    <h4 class="col-sm-2">content</h4>
					    <div class="col-sm-10">
							<textarea class="form-control" rows="3" ng-model="atip.intrItemContent"></textarea>
					    </div>
					</div>
					<div class="form-group">
					    <div class="col-sm-offset-2 col-sm-10">
							<button type="button" class="btn btn-success" ng-click="addTip(atip, 'en_info.introduce')">{{editMode ? "save":"add"}}</button>
					    </div>
				    </div>
				</div>
				<div class="bs-callout bs-callout-danger bs-small" ng-repeat="introduce in city.en_info.introduce">
					<h4>{{introduce.intrItemTitle}}</h4>
					<pre>{{introduce.intrItemContent}}</pre>
					<button type="button" class="btn btn-default" ng-click="editTip(introduce, 'en_info.introduce')">edit</button>
					<button type="button" class="btn btn-danger" ng-click="removeTip(introduce, 'en_info.introduce')">delete</button>
				</div>
			</div>
			<div class="bs-callout bs-callout-danger" id="a19">
				<h4>tips</h4>
				<div class="bs-callout bs-callout-danger bs-small">
					<div class="form-group">
					    <h4 class="col-sm-2">title</h4>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" ng-model="atip.tipItemTitle">
					    </div>
					</div>
					<div class="form-group">
					    <h4 class="col-sm-2">content</h4>
					    <div class="col-sm-10">
							<textarea class="form-control" rows="3" ng-model="atip.tipItemContent"></textarea>
					    </div>
					</div>
					<div class="form-group">
					    <div class="col-sm-offset-2 col-sm-10">
							<button type="button" class="btn btn-success" ng-click="addTip(atip, 'en_info.tips')">{{editMode ? "save":"add"}}</button>
					    </div>
				    </div>
				</div>
				<div class="bs-callout bs-callout-danger bs-small" ng-repeat="tip in city.en_info.tips">
					<h4>{{tip.tipItemTitle}}</h4>
					<pre>{{tip.tipItemContent}}</pre>
					<button type="button" class="btn btn-default" ng-click="editTip(tip, 'en_info.tips')">edit</button>
					<button type="button" class="btn btn-danger" ng-click="removeTip(tip, 'en_info.tips')">delete</button>
				</div>
			</div>
			<div class="bs-callout bs-callout-danger" id="a20">
				<h4>traffic</h4>
				<div class="bs-callout bs-callout-danger bs-small">
					<div class="form-group">
					    <h4 class="col-sm-2">title</h4>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" ng-model="atip.traItemTitle">
					    </div>
					</div>
					<div class="form-group">
					    <h4 class="col-sm-2">content</h4>
					    <div class="col-sm-10">
							<textarea class="form-control" rows="3" ng-model="atip.traItemContent"></textarea>
					    </div>
					</div>
					<div class="form-group">
					    <div class="col-sm-offset-2 col-sm-10">
							<button type="button" class="btn btn-success" ng-click="addTip(atip, 'en_info.traffic')">{{editMode ? "save":"add"}}</button>
					    </div>
				    </div>
				</div>
				<div class="bs-callout bs-callout-danger bs-small" ng-repeat="traffic in city.en_info.traffic">
					<h4>{{traffic.traItemTitle}}</h4>
					<pre>{{traffic.traItemContent}}</pre>
					<button type="button" class="btn btn-default" ng-click="editTip(traffic, 'en_info.traffic')">edit</button>
					<button type="button" class="btn btn-danger" ng-click="removeTip(traffic, 'en_info.traffic')">delete</button>
				</div>
			</div>
		</form>
	</div>
	<div class="col-lg-3">
		<nav id="citynavaffix" class="citynav affix">
			<ul>
				<li><h2>{{city.cityname}}</h2></li>
				<li><a ng-click="scrollTo('a1')">封面图片</a></li>
				<li><a ng-click="scrollTo('a2')">图片</a></li>
				<li><a ng-click="scrollTo('a3')">城市背景大图</a></li>
				<li><a ng-click="scrollTo('a4')">城市基本信息</a></li>
				<li><a ng-click="scrollTo('a5')">制定计划相关信息</a></li>
				<li><a ng-click="scrollTo('a6')">标签</a></li>
				<li><a ng-click="scrollTo('a7')">一句话简介</a></li>
				<li><a ng-click="scrollTo('a8')">景点概述</a></li>
				<li><a ng-click="scrollTo('a9')">餐馆概述</a></li>
				<li><a ng-click="scrollTo('a10')">购物概述</a></li>
				<li><a ng-click="scrollTo('a11')">简介</a></li>
				<li><a ng-click="scrollTo('a12')">小贴士</a></li>
				<li><a ng-click="scrollTo('a13')">交通</a></li>
				<li><a ng-click="scrollTo('a14')">short introduce</a></li>
				<li><a ng-click="scrollTo('a15')">attraction overview</a></li>
				<li><a ng-click="scrollTo('a16')">restaurant overview</a></li>
				<li><a ng-click="scrollTo('a17')">shopping overview</a></li>
				<li><a ng-click="scrollTo('a18')">introduce</a></li>
				<li><a ng-click="scrollTo('a19')">tips</a></li>
				<li><a ng-click="scrollTo('a20')">traffic</a></li>
			</ul>
		</nav>
		<div class="editbtns affix">
			<button type="button" ng-click="save()" class="btn btn-success">保存</button>
			<a href="#/citylist" class="btn btn-default">返回</a>
		</div>
	</div>
