 	<div class="col-sm-2">
		<div class="form-group">
		    <div class="input-group">
		        <div class="input-group-addon">国家</div>
				<input type="text" ng-model="country" placeholder="例如:美国" typeahead="result for result in getItemByCountry($viewValue)" class="form-control searchcitybtn" typeahead-wait-ms="1000">
		    </div>
		</div>
	</div>
	<div class="col-sm-2">
		<div class="form-group">
		    <div class="input-group">
		        <div class="input-group-addon">城市拼音</div>
		        <input type="text" ng-model="citynamepy" placeholder="输入:niuyue" typeahead="result for result in getItem($viewValue)" class="form-control searchcitybtn" typeahead-wait-ms="1000">
		    </div>
		</div>
	</div>
 	<div class="col-sm-2">
 		<div class="input-group">
	       	<div class="input-group-addon">中文编辑</div>
	       	<select class="form-control" ng-model="edituserModel" ng-options="edituser as edituser.username for edituser in editusers_zh"></select>
	    </div>
 	</div>
 	<div class="col-sm-2">
 		<div class="input-group">
	       	<div class="input-group-addon">英文编辑</div>
 			<select class="form-control" ng-model="edituserModel" ng-options="edituser as edituser.username for edituser in editusers_en"></select>
	    </div>
 	</div>
 	<pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm paginationmodel" boundary-links="true" ng-change="pageChanged()" ng-init="pageChanged()"></pagination>
	<div class="col-sm-1 pagenum">
		<pre>Page: {{currentPage}}/{{numPages ? numPages : 1}}</pre>
	</div>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>国家</th>
				<th>城市</th>
				<th>中文审核</th>
				<th>中文编辑</th>
				<th>中文审核状态</th>
				<th>英文审核</th>
				<th>英文编辑</th>
				<th>英文审核状态</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="city in cities | filter: query">
				<td>{{city.countryname}}</td>
				<td>{{city.cityname}}</td>
				<td>{{city.audit_zh.editorname}}</td>
				<td>{{city.audit_zh.auditorname}}</td>
				<td>{{city.audit_zh.status}}</td>
				<td>{{city.en_info.editorname}}</td>
				<td>{{city.en_info.auditorname}}</td>
				<td>{{city.en_info.status}}</td>
				<td>
					<a type="button" href="#/citylist/{{city._id}}/edit" class="btn btn-default">编辑</a>
					<a type="button" href="#/citylist/{{city._id}}/detail" class="btn btn-default">预览</a>
					<a type="button" href="#/citylist/{{city._id}}/fileupload" class="btn btn-default">图片上传</a>
					<button class="btn btn-default" ng-click="open('', city)">指派任务</button>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="modal-footer">
		<a type="button" class="btn btn-default" ng-href="#/citylist/addnewcity">新增城市</a>
	</div>
	<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">{{city.cityname}}</h3>
        </div>
        <div class="modal-body" style="height: 500px">
            <h3>中文编辑任务</h3>
            <div class="col-sm-8">
	            <div class="input-group">
				    <div class="input-group-addon">城市</div>
					<select class="form-control" ng-model="city_zh" ng-options="item as item.username for item in editusers_zh"></select>
			    </div>
            </div>
            <div class="col-sm-4">
            	<div class="input-group">
				    <div class="input-group-addon">最小数目</div>
					<input class="form-control" type="number" ng-model="qq">
			    </div>
            </div>

            <div class="col-sm-8">
	            <div class="input-group">
				    <div class="input-group-addon">景点</div>
					<select class="form-control" ng-model="attraction_zh" ng-options="item as item.username for item in editusers_zh"></select>
			    </div>
            </div>
            <div class="col-sm-4">
            	<div class="input-group">
				    <div class="input-group-addon">最小数目</div>
					<input class="form-control" type="number" ng-model="qq">
			    </div>
            </div>

            <div class="col-sm-8">
			    <div class="input-group">
				    <div class="input-group-addon">餐馆</div>
					<select class="form-control" ng-model="restaurant_zh" ng-options="item as item.username for item in editusers_zh"></select>
			    </div>
		    </div>
		    <div class="col-sm-4">
            	<div class="input-group">
				    <div class="input-group-addon">最小数目</div>
					<input class="form-control" type="number" ng-model="qq">
			    </div>
            </div>

            <div class="col-sm-8">
			    <div class="input-group">
				    <div class="input-group-addon">购物</div>
					<select class="form-control" ng-model="shop_zh" ng-options="item as item.username for item in editusers_zh"></select>
			    </div>
		    </div>
		    <div class="col-sm-4">
            	<div class="input-group">
				    <div class="input-group-addon">最小数目</div>
					<input class="form-control" type="number" ng-model="qq">
			    </div>
            </div>

            <div class="col-sm-8">
			    <div class="input-group">
				    <div class="input-group-addon">购物区域</div>
					<select class="form-control" ng-model="shoparea_zh" ng-options="item as item.username for item in editusers_zh"></select>
			    </div>
		    </div>
		    <div class="col-sm-4">
            	<div class="input-group">
				    <div class="input-group-addon">最小数目</div>
					<input class="form-control" type="number" ng-model="qq">
			    </div>
            </div>
		    <h3>英文编辑任务</h3>
            <div class="col-sm-8">
			    <div class="input-group">
				    <div class="input-group-addon">城市</div>
					<select class="form-control" ng-model="city_en" ng-options="item as item.username for item in editusers_en"></select>
			    </div>
		    </div>
		    <div class="col-sm-4">
            	<div class="input-group">
				    <div class="input-group-addon">最小数目</div>
					<input class="form-control" type="number" ng-model="qq">
			    </div>
            </div>

            <div class="col-sm-8">
	            <div class="input-group">
				    <div class="input-group-addon">景点</div>
					<select class="form-control" ng-model="attraction_en" ng-options="item as item.username for item in editusers_en"></select>
			    </div>
		    </div>
		    <div class="col-sm-4">
            	<div class="input-group">
				    <div class="input-group-addon">最小数目</div>
					<input class="form-control" type="number" ng-model="qq">
			    </div>
            </div>

            <div class="col-sm-8">
			    <div class="input-group">
				    <div class="input-group-addon">餐馆</div>
					<select class="form-control" ng-model="restaurant_en" ng-options="item as item.username for item in editusers_en"></select>
			    </div>
		    </div>
		    <div class="col-sm-4">
            	<div class="input-group">
				    <div class="input-group-addon">最小数目</div>
					<input class="form-control" type="number" ng-model="qq">
			    </div>
            </div>

            <div class="col-sm-8">
			    <div class="input-group">
				    <div class="input-group-addon">购物</div>
					<select class="form-control" ng-model="shop_en" ng-options="item as item.username for item in editusers_en"></select>
			    </div>
		    </div>
		    <div class="col-sm-4">
            	<div class="input-group">
				    <div class="input-group-addon">最小数目</div>
					<input class="form-control" type="number" ng-model="qq">
			    </div>
            </div>

            <div class="col-sm-8">
			    <div class="input-group">
				    <div class="input-group-addon">购物区域</div>
					<select class="form-control" ng-model="shoparea_en" ng-options="item as item.username for item in editusers_en"></select>
			    </div>
		    </div>
		    <div class="col-sm-4">
            	<div class="input-group">
				    <div class="input-group-addon">最小数目</div>
					<input class="form-control" type="number" ng-model="qq">
			    </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">发送任务</button>
            <button class="btn btn-warning" ng-click="cancel()">取消</button>
        </div>
    </script>
