 	<div class="col-sm-2">
		<div class="form-group">
		    <div class="input-group">
		        <div class="input-group-addon">国家</div>
				<input type="text" ng-model="country" placeholder="例如:美国" typeahead="result for result in getItemByCountry($viewValue)" class="form-control searchcitybtn" typeahead-wait-ms="1000">
		    </div>
		</div>
	</div>
	<div class="col-sm-2">
		<div class="form-group">
		    <div class="input-group">
		        <div class="input-group-addon">城市拼音</div>
		        <input type="text" ng-model="citynamepy" placeholder="输入:niuyue" typeahead="result for result in getItem($viewValue)" class="form-control searchcitybtn" typeahead-wait-ms="1000">
		    </div>
		</div>
	</div>
 	<div class="col-sm-2">
 		
 	</div>
 	<pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm paginationmodel" boundary-links="true" rotate="false" items-per-page="20" ng-change="pageChanged()" num-pages="numPages"></pagination>
	<div class="col-sm-1 pagenum">
		<pre>Page: {{currentPage}}/{{numPages}}</pre>
	</div>

	<table class="table table-hover">
		<thead>
			<tr>
				<th>序号</th>
				<th>国家</th>
				<th>城市</th>
				<th>是否显示</th>
				<th>城市图片</th>
				<th>城市大图</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="city in cities | filter: query">
				<td>{{$index + 1}}</td>
				<td>{{city.countryname}}</td>
				<td>{{city.cityname}}</td>
				<td>{{city.show_flag}}</td>
				<td>{{city.imagecount}}</td>
				<td>{{city.bgimgcount}}</td>
				<td>
					<a type="button" href="#/citylist/{{city._id}}/edit" class="btn btn-default">中文编辑</a>
					<a type="button" href="#/citylist/{{city._id}}/detail" class="btn btn-default">中文审核</a>
					<a type="button" href="#/citylist/{{city._id}}/edit_en" class="btn btn-info">英文编辑</a>
					<a type="button" href="#/citylist/{{city._id}}/detail_en" class="btn btn-info">英文审核</a>
					<a type="button" href="#/citylist/{{city._id}}/fileupload" class="btn btn-default">图片上传</a>
					<a type="button" href="#/citylist/{{city._id}}/fileuploadcitybgimg" class="btn btn-default">城市大图</a>
					<a type="button" href="#/citylist/{{city._id}}/fileuploadimgforapp" class="btn btn-default">APP IMG</a>
					<button class="btn btn-default" ng-click="open('lg', city)">指派任务</button>
				</td>
			</tr>
		</tbody>
	</table>
	<a type="button" class="btn btn-primary" ng-href="#/citylist/addnewcity">新增城市</a>
	<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">{{city.cityname}}</h3>
        </div>
        <div class="modal-body" style="height: 500px">
            <div class="col-sm-2">
				<select class="form-control" ng-model="newtask.type" ng-options="item.name for item in types" ng-change="initminnum(newtask.type)">
					<option value="">-- type --</option>
				</select>
            </div>
            <div class="col-sm-2">
				<select class="form-control" ng-model="newtask.en" ng-options="item.name for item in language" ng-change="setUserBylan(newtask.en.isen)">
					<option value="">--language--</option>
				</select>
            </div>
            <div class="col-sm-4">
	            <div class="input-group">
				    <div class="input-group-addon">editor</div>
					<select class="form-control" ng-model="newtask.editor" ng-options="item.editor_name for item in editusers">
						<option value="">-- choose editor --</option>
					</select>
			    </div>
            </div>
            <div class="col-sm-3">
            	<div class="input-group">
				    <div class="input-group-addon">minnum</div>
					<input class="form-control" type="number" min="1" ng-model="newtask.minnum">
			    </div>
            </div>
            <div class="col-cm-1">
            	<button type="button" class="btn btn-primary" ng-click="sendTask(newtask)">save</button>
            </div>
            <table class="table table-hover">
            	<thead>
        			<tr>
        				<th>city</th>
        				<th>type</th>
        				<th>english</th>
        				<th>editor</th>
        				<th>minnum</th>
        				<th>action</th>
            		</tr>
            	</thead>
            	<tbody>
        			<tr ng-repeat="task in tasks">
        				<td>{{task.city_name}}</td>
        				<td>{{task.type}}</td>
        				<td>{{task.en}}</td>
        				<td>{{task.editor_name}}</td>
        				<td>{{task.minnum}}</td>
        				<td>
        					<button type="button" class="btn btn-default" ng-click="editTask(task)">edit</button>
        				</td>
            		</tr>
            	</tbody>
            </table>
            
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">quit</button>
        </div>
    </script>
