	<div class="col-lg-9">
		<div class="bs-callout bs-callout-info" id="a1">
			<div class="alert alert-warning" ng-show="a1box">
				<textarea class="form-control" rows='2' ng-model="a1c"></textarea>
				<button type="button" class="btn btn-default" ng-click="savecomment('a1c', a1c)">保存</button>
		    </div>
			<input type="checkbox" class="commentbtn" ng-model="a1box">
			<h4>封面图片</h4>
			<img ng-src="http://weegotest.b0.upaiyun.com/attractions/origin/{{attraction.coverImageName}}" alt="" class="img-thumbnail">
		</div>
		<div class="bs-callout bs-callout-info" id="a2">
			<div class="alert alert-warning" ng-show="a2box">
				<textarea class="form-control" rows='2' ng-model="a2c"></textarea>
				<button type="button" class="btn btn-default" ng-click="savecomment('a2c', a2c)">保存</button>
		    </div>
			<input type="checkbox" class="commentbtn" ng-model="a2box">
			<h4>图片</h4>
			<ul rn-carousel rn-carousel-buffered rn-carousel-indicator rn-carousel-control class="my-slider ng-cloak">
	            <li ng-repeat="img in attraction.image" ng-style="{'background-image': 'url(http://weegotest.b0.upaiyun.com/attractions/origin/' + img + ')'}" style="background-size: 100% 100%">
	            </li>
	        </ul>
		</div>
		<div class="bs-callout bs-callout-info" id="a3">
			<div class="alert alert-warning" ng-show="a3box">
				<textarea class="form-control" rows='2' ng-model="a3c"></textarea>
				<button type="button" class="btn btn-default" ng-click="savecomment('a3c', a3c)">保存</button>
		    </div>
			<input type="checkbox" class="commentbtn" ng-model="a3box">
			<h4>景点基本信息</h4>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>城市名（中文）</h4>
				<p>{{attraction.cityname}}</p>
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>景点名</h4>
				<p>{{attraction.attractions}}</p>
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>景点名（英文）</h4>
				<p>{{attraction.attractions_en}}</p>
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>经纬度</h4>
				<p>（{{attraction.latitude}}，{{attraction.longitude}}）</p>
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>地址</h4>
				<p>{{attraction.address}}</p>
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>价格</h4>
				<p>{{attraction.price}}</p>
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>开放时间</h4>
				<p>{{attraction.opentime}}</p>
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>网址</h4>
				<p>{{attraction.website}}</p>
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>电话</h4>
				<p>{{attraction.telno}}</p>
			</div>
		</div>
		<div class="bs-callout bs-callout-info" id="a4">
			<div class="alert alert-warning" ng-show="a4box">
				<textarea class="form-control" rows='2' ng-model="a4c"></textarea>
				<button type="button" class="btn btn-default" ng-click="savecomment('a4c', a4c)">保存</button>
		    </div>
			<input type="checkbox" class="commentbtn" ng-model="a4box">
			<h4>制定计划相关信息</h4>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>推荐白天或晚上</h4>
				<p>{{attraction.dayornight == '1' ? '白天' : '晚上'}}</p>
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>游览时间段</h4>
				<p>
					<span>{{attraction.am ? '上午' : ''}}</span>
					<span>{{attraction.pm ? '下午' : ''}}</span>
					<span>{{attraction.ev ? '晚上' : ''}}</span>
				</p>
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>推荐游览时间</h4>
				<p>{{attraction.recommand_duration}}</p>
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>是否推荐</h4>
				<p>{{attraction.recommand_flag == '1' ? '推荐' : '不推荐'}}</p>
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>城市首页显示</h4>
				<p>{{attraction.index_flag == '1' ? '显示' : '不显示'}}</p>
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>是否显示</h4>
				<p>{{attraction.show_flag == '1' ? '显示' : '不显示'}}</p>
			</div>
		</div>
		<div class="bs-callout bs-callout-info" id="a5">
			<div class="alert alert-warning" ng-show="a5box">
				<textarea class="form-control" rows='2' ng-model="a5c"></textarea>
				<button type="button" class="btn btn-default" ng-click="savecomment('a5c', a5c)">保存</button>
		    </div>
			<input type="checkbox" class="commentbtn" ng-model="a5box">
			<h4>标签</h4>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>主标签</h4>
				<p>{{masterlabel}}</p>
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
				<h4>子标签</h4>
				<p ng-repeat="sublabel in sublabels">{{sublabel.label}}</p>
			</div>
		</div>
		<div class="bs-callout bs-callout-info" id="a6">
			<div class="alert alert-warning" ng-show="a6box">
				<textarea class="form-control" rows='2' ng-model="a6c"></textarea>
				<button type="button" class="btn btn-default" ng-click="savecomment('a6c', a6c)">保存</button>
		    </div>
			<input type="checkbox" class="commentbtn" ng-model="a6box">
			<div class="alert alert-warning" ng-show="short_introduce">
				<span class="glyphicon glyphicon-thumbs-up"></span>
				<textarea class="form-control" rows='2'></textarea>
				<button type="button" class="btn btn-default">保存</button>
		    </div>
			<input type="checkbox" class="commentbtn" ng-model="short_introduce" >
			<h4>一句话简介</h4>
			<pre>{{attraction.short_introduce}}</pre>

		</div>
		<div class="bs-callout bs-callout-info" id="a7">
			<div class="alert alert-warning" ng-show="a7box">
				<textarea class="form-control" rows='2' ng-model="a7c"></textarea>
				<button type="button" class="btn btn-default" ng-click="savecomment('a7c', a7c)">保存</button>
		    </div>
			<input type="checkbox" class="commentbtn" ng-model="a7box">
			<div class="alert alert-warning" ng-show="checked">
				<span class="glyphicon glyphicon-thumbs-up"></span><textarea class="form-control" rows='2'></textarea>
		    </div>
			<input type="checkbox" class="commentbtn" ng-model="checked" >
			<h4>简介</h4>
			<pre>{{attraction.introduce}}</pre>
		</div>

		<div class="bs-callout bs-callout-info" id="a8">
			<div class="alert alert-warning" ng-show="a8box">
				<textarea class="form-control" rows='2' ng-model="a8c"></textarea>
				<button type="button" class="btn btn-default" ng-click="savecomment('a8c', a8c)">保存</button>
		    </div>
			<input type="checkbox" class="commentbtn" ng-model="a8box">
			<div class="alert alert-warning" ng-show="checked">
				<span class="glyphicon glyphicon-thumbs-up"></span><textarea class="form-control" rows='2'></textarea>
		    </div>
			<input type="checkbox" class="commentbtn" ng-model="checked" >
			<h4>小贴士</h4>
			<pre>{{attraction.tips}}</pre>
		</div>

		<div class="bs-callout bs-callout-info" id="a9">
			<div class="alert alert-warning" ng-show="a9box">
				<textarea class="form-control" rows='2' ng-model="a9c"></textarea>
				<button type="button" class="btn btn-default" ng-click="savecomment('a9c', a9c)">保存</button>
		    </div>
			<input type="checkbox" class="commentbtn" ng-model="a9box">
			<div class="alert alert-warning" ng-show="checked">
				<span class="glyphicon glyphicon-thumbs-up"></span><textarea class="form-control" rows='2'></textarea>
		    </div>
			<input type="checkbox" class="commentbtn" ng-model="checked" >
			<h4>交通</h4>
			<pre>{{attraction.traffic_info}}</pre>
		</div>

		
	</div>
	<div class="col-lg-3">
		<nav id="citynavaffix" class="citynav affix" data-spy="affix" data-offset-top="200">
			<a href="#/attractionlist" class="btn btn-default">返回</a>
			<div class="auditmsg alert alert-info">
				<h4>编辑:{{auditmsg.editorname}}</h4>
				<h4>审核:{{auditmsg.auditorname}}</h4>
				<button type="button" ng-click="passaudit()" class="btn btn-success" ng-hide="auditmsg.status == 2">通过审核</button>
				<button type="button" ng-click="unpassaudit()" class="btn btn-warning" ng-hide="auditmsg.status == 2">未通过</button>
			</div>
			<h2>{{attraction.attractions}}</h2>
			<ul>
				<li scroll-on-click>封面图片</li>
				<li scroll-on-click>图片</li>
				<li scroll-on-click>城市基本信息</li>
				<li scroll-on-click>制定计划相关信息</li>
				<li scroll-on-click>标签</li>
				<li scroll-on-click>一句话简介</li>
				<li scroll-on-click>简介</li>
				<li scroll-on-click>小贴士</li>
				<li scroll-on-click>交通</li>
			</ul>
		</nav>
	</div>
