<div class="col-lg-9">
	<div class="bs-callout bs-callout-danger" id="a10">
		<h4>Ticket Price</h4>
		<text-angular ng-model="attraction.en_info.price"></text-angular>
	</div>
	<div class="bs-callout bs-callout-danger" id="a10">
		<h4>Opening Hours</h4>
		<text-angular ng-model="attraction.en_info.opentime"></text-angular>
	</div>
	<div class="bs-callout bs-callout-danger" id="a10">
		<h4>Brief Introduce</h4>
		<text-angular ng-model="attraction.en_info.short_introduce"></text-angular>
	</div>
	<div class="bs-callout bs-callout-danger" id="a11">
		<h4>Detailed Introduction</h4>
		<text-angular ng-model="attraction.en_info.introduce"></text-angular>
	</div>
	<div class="bs-callout bs-callout-danger" id="a12">
		<h4>Tips</h4>
		<text-angular ng-model="attraction.en_info.tips"></text-angular>
	</div>
	<div class="bs-callout bs-callout-danger" id="a13">
		<h4>Public Transport</h4>
		<text-angular ng-model="attraction.en_info.traffic_info"></text-angular>
	</div>
</div>
<div class="col-lg-3">
	<nav id="citynavaffix" class="citynav affix">
		<button type="button" ng-click="save()" class="btn btn-success">保存</button>
		<a href="#/attractionlist" class="btn btn-default">返回</a>
		<div class="auditmsg alert alert-info">
			<h4>编辑:{{editor.editor_name}}</h4>
			<h4>审核:{{audit.auditorname}}</h4>
			<div ng-hide="audit.status == 2">
		        <div class="input-group">
				    <div class="input-group-addon">审核</div>
					<select class="form-control" ng-model="audit.auditor" ng-options="item.editor_name for item in auditors">
						<option value="">-- 选择审核 --</option>
					</select>
			    </div>	
				<button type="button" ng-click="postAudit()" class="btn btn-primary">提交审核</button>
			</div>
		</div>
		<h2>{{attraction.attractions}}</h2>
		<ul>
			<li scroll-on-click>Ticket Price</li>
			<li scroll-on-click>Opening Hours</li>
			<li scroll-on-click>Brief Introduce</li>
			<li scroll-on-click>Detailed Introduction</li>
			<li scroll-on-click>Tips</li>
			<li scroll-on-click>Public Transport</li>
		</ul>
	</nav>
</div>
