<input type="text" ng-model="cityname" placeholder="输入城市" typeahead="result for result in getItemByCity($viewValue)" class="form-control searchcitybtn" typeahead-wait-ms="1000">
<input type="text" ng-model="attraction" placeholder="输入景点名" typeahead="result for result in getItem($viewValue)" class="form-control searchcitybtn" typeahead-wait-ms="1000">

<!-- <input type="text" ng-model="value" class="form-control searchcitybtn" ng-change="getItem(value)"> -->

<pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm paginationmodel" boundary-links="true" items-per-page="20" ng-change="pageChanged()" ng-init="pageChanged()" num-pages="numPages"></pagination>
<div class="col-sm-1 pagenum">
	<pre>Page: {{currentPage}}/{{numPages}}</pre>
</div>
<table class="table table-hover">
	<thead>
		<tr>
			<th>城市</th>
			<th>景点</th>
			<th>城市首页</th>
			<th>是否推荐</th>
			<th>是否显示</th>
			<th>图片</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="attraction in attractions | filter: query ">
			<td>{{attraction.cityname}}</td>
			<td>{{attraction.attractions}}</td>
			<td>{{attraction.index_flag}}</td>
			<td>{{attraction.recommand_flag}}</td>
			<td>{{attraction.show_flag}}</td>
			<td>{{attraction.imagenum}}</td>
			<td>
				
				<a type="button" href="#/attractionlist/{{attraction._id}}/edit" class="btn btn-default">中文编辑</a>
				<a type="button" href="#/attractionlist/{{attraction._id}}/detail" class="btn btn-default">中文审核</a>
				<a type="button" href="#/attractionlist/{{attraction._id}}/edit_en" class="btn btn-info">英文编辑</a>
				<a type="button" href="#/attractionlist/{{attraction._id}}/detail_en" class="btn btn-info">英文审核</a>
				<a type="button" href="#/attractionlist/{{attraction._id}}/fileupload" class="btn btn-default">上传图片</a>
			</td>
		</tr>
	</tbody>
</table>
<a type="button" class="btn btn-primary" ng-href="#/attractionlist/addnewattraction">新增景点</a>