<div class="modal-header">
	<input type="text" ng-model="asyncSelected" placeholder="输入:niuyue" typeahead="result for result in getItem($viewValue)" class="form-control searchcitybtn" typeahead-wait-ms="1000">

	<!-- <input type="text" ng-model="value" class="form-control searchcitybtn" ng-change="getItem(value)"> -->
	<a type="button" class="btn btn-default" ng-href="#/citylist/addnewcity">新增城市</a>

	<pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm paginationmodel" boundary-links="true" ng-change="pageChanged()" ng-init="pageChanged()"></pagination>
	<div class="col-sm-1 pagenum">
		<pre>Page: {{currentPage}}/{{numPages ? numPages : 1}}</pre>
	</div>
</div>
<table class="table table-hover">
	<thead>
		<tr>
			<th>城市</th>
			<th>景点</th>
			<th>城市首页</th>
			<th>是否推荐</th>
			<th>是否显示</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="attraction in attractions | filter: query ">
			<td>{{attraction.cityname}}</td>
			<td>{{attraction.attractions}}</td>
			<td>{{attraction.index_flag}}</td>
			<td>{{attraction.recommand_flag}}</td>
			<td>{{attraction.show_flag}}</td>
			<td>
				
				<a type="button" href="#/attractionlist/{{attraction._id}}/edit" class="btn btn-default">编辑</a>
				<a type="button" href="#/attractionlist/{{attraction._id}}/detail" class="btn btn-default">预览</a>
				<a type="button" href="#/attractionlist/{{attraction._id}}/fileupload" class="btn btn-default">上传图片</a>
				<button type="button" ng-click="del(attractionlist._id)" class="btn btn-danger">删除</button>
			</td>
		</tr>
	</tbody>
</table>