<div class="col-lg-9">
	<form action="" class="form-horizontal">
		<div class="bs-callout bs-callout-info" id="coverimage">
			<h4>封面图片</h4>
			<img ng-src="http://weegotest.b0.upaiyun.com/shoparea/origin/{{cover_image}}" alt="">
		</div>
		<div class="bs-callout bs-callout-info" id="images">
			<h4>区域图片</h4>
			<ul rn-carousel rn-carousel-buffered rn-carousel-indicator rn-carousel-control class="my-slider ng-cloak">
	            <li ng-repeat="img in shoparea.image" ng-style="{'background-image': 'url(http://weegotest.b0.upaiyun.com/shoparea/origin/' + img + ')'}" style="background-size: 100% 100%">
	            </li>
	        </ul>
		</div>
		<div class="bs-callout bs-callout-info" id="a1">
			<h4>区域基本信息</h4>
			<div class="bs-callout bs-callout-warning bs-small">
		     	<h4>城市</h4>
		     	<p>{{shoparea.city_name}}</p>
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
		     	<h4>区域名称</h4>
		     	<p>{{shoparea.area_name}}</p>
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
		     	<h4>区域英文名称</h4>
		     	<p>{{shoparea.area_enname}}</p>
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
		     	<h4>电话</h4>
		     	<p>{{shoparea.tel}}</p>
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
		     	<h4>是否显示</h4>
		     	<p>{{shoparea.show_flag}}</p>
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
		     	<h4>网址</h4>
		     	<p>{{shoparea.website}}</p>
			</div>
			<div class="bs-callout bs-callout-warning bs-small">
		      <h4>纬度</h4>
		      <p>{{shoparea.latitude}}</p>
		      <h4>经度</h4>
		      <p>{{shoparea.longitude}}</p>
			</div>
		</div>
		<div class="bs-callout bs-callout-info" id="a2">
			<h4>标签</h4>
			<h4 ng-repeat="tag in shoparea.tags">
				<span class="label label-success">{{tag}}</span>
			</h4>
		</div>
		<div class="bs-callout bs-callout-info" id="a3">
			<h4>开放时间</h4>
			<pre ng-bind-html="shoparea.open_time"></pre>
		</div>
		<div class="bs-callout bs-callout-info" id="a3">
			<h4>地址</h4>
			<pre ng-bind-html="shoparea.address"></pre>
		</div>
		<div class="bs-callout bs-callout-info" id="a4">
			<h4>介绍</h4>
			<pre ng-bind-html="shoparea.area_introduce"></pre>
		</div>
		<div class="bs-callout bs-callout-info" id="a4">
			<h4>一句话介绍</h4>
			<pre ng-bind-html="shoparea.brief_introduce"></pre>
		</div>
		<div class="bs-callout bs-callout-info" id="a5">
			<h4>交通</h4>
			<pre ng-bind-html="shoparea.traffic"></pre>
		</div>
		<div class="bs-callout bs-callout-info" id="a6">
			<h4>小贴士</h4>
			<pre ng-bind-html="shoparea.tips"></pre>
		</div>
	</form>
</div>
<div class="col-lg-3">
	<nav id="citynavaffix" class="citynav affix">
		<a href="#/shoparealist" class="btn btn-default">返回</a>
		<div class="auditmsg alert alert-info">
			<h4>编辑:{{auditmsg.editorname}}</h4>
			<h4>审核:{{auditmsg.auditorname}}</h4>
			<button type="button" ng-click="passaudit()" class="btn btn-success" ng-hide="auditmsg.status == 2">通过审核</button>
			<button type="button" ng-click="unpassaudit()" class="btn btn-warning" ng-hide="auditmsg.status == 2">未通过</button>
		</div>
		<h2>{{shoparea.area_name}}</h2>
		<ul>
			<li scroll-on-click>封面图片</li>
			<li scroll-on-click>区域图片</li>
			<li scroll-on-click>区域基本信息</li>
			<li scroll-on-click>标签</li>
			<li scroll-on-click>开放时间</li>
			<li scroll-on-click>介绍</li>
			<li scroll-on-click>交通</li>
			<li scroll-on-click>小贴士</li>
		</ul>
	</nav>	
</div>