<input type="text" ng-model="cityname" placeholder="输入城市" typeahead="result for result in getShopareasByCity($viewValue)" class="form-control searchcitybtn" typeahead-wait-ms="1000">

<input type="text" ng-model="shoparea" placeholder="输入购物区域名" typeahead="result for result in getItem($viewValue)" class="form-control searchcitybtn" typeahead-wait-ms="1000">

<pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm paginationmodel" boundary-links="true" ng-change="pageChanged()" items-per-page="20" num-pages="numPages"></pagination>
<div class="col-sm-1 pagenum">
	<pre>Page: {{currentPage}}/{{numPages}}</pre>
</div>
<table class="table table-hover">
	<thead>
		<tr>
			<th>城市</th>
			<th>购物区域</th>
			<th>是否显示</th>
			<th>图片</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="shoparea in shopareas | filter: query">
			<td>{{shoparea.city_name}}</td>
			<td>{{shoparea.area_name}}</td>
			<td>{{shoparea.show_flag}}</td>
			<td>{{shoparea.imagenum}}</td>
			<td>
				<a type="button" href="#/shoparealist/{{shoparea._id}}/edit" class="btn btn-default">中文信息</a>
				<a type="button" href="#/shoparealist/{{shoparea._id}}/detail" class="btn btn-default">中文审核</a>
				<a type="button" href="#/shoparealist/{{shoparea._id}}/edit_en" class="btn btn-info">英文信息</a>
				<a type="button" href="#/shoparealist/{{shoparea._id}}/detail_en" class="btn btn-info">英文审核</a>
				<a type="button" href="#/shoparealist/{{shoparea._id}}/fileupload" class="btn btn-default">上传图片</a>
			</td>
		</tr>
	</tbody>
</table>
<a type="button" class="btn btn-primary" ng-href="#/shoparealist/addnewshoparea">新增购物区域</a>
