<pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm paginationmodel" boundary-links="true" rotate="false" items-per-page="20" ng-change="pageChanged()" num-pages="numPages"></pagination>
<table class="table table-hover">
	<thead>
		<tr>
			<th>序号</th>
			<th>label</th>
			<th>level</th>
			<th>label_en</th>
	</thead>
	<tbody>
		<tr ng-repeat="label in labels | filter: query">
			<td>{{$index + 1}}</td>
			<td>{{label.label}}</td>
			<td>{{label.level}}</td>
			<td>{{label.label_en}}</td>
			<td><button class="btn btn-default" ng-click="open('', label)">modify</button></td>
		</tr>
	</tbody>
</table>

<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">{{label.label}}</h3>
        </div>
        <div class="modal-body" style="height: 500px">
        	<div class="input-group">
		      <span class="input-group-addon">
		        label
		      </span>
		      <input type="text" class="form-control" ng-model="label.label">
		    </div>
            <div class="input-group">
		      <span class="input-group-addon">
		        label_en
		      </span>
		      <input type="text" class="form-control" ng-model="label.label_en">
		    </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="save(label)">save</button>
        </div>
    </script>
